

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
  line-height: inherit;
}


:root {
  --thm-font: "Teko", sans-serif;
  --thm-b-font: "Rubik", sans-serif;
  --thm-base: #ffaa17;
  --thm-base-rgb: 255, 170, 23;
  --thm-black: #222429;
  --thm-text: #686a6f;
}

body {
  font-size: 16px;
  font-family: var(--thm-b-font);
  color: var(--thm-text);
  line-height: 2.125em;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  top: 0 !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--thm-base);
}

.theme_color {
  color: var(--thm-base);
}

a:hover,
a:focus,
a:visited,
a:active,
button:active {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 400;
  margin: 0.3em;
  background: none;
  line-height: 1.25em;
  font-family: var(--thm-font);
  color: var(--thm-black);
}

h1 {
  font-size: 140px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 26px;
}

input,
select,
button {
  font-family: var(--thm-font);
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  outline: none !important;
  cursor: pointer;
}

p {
  line-height: 2.125em;
  margin: 0.3em;
}

.text {
  line-height: 2.125em;
  margin: 0 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}


.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

ul,
li {
  list-style: square;
  padding: 0px;
  margin: 0.3em;
}

figure {
  margin-bottom: 0;
}


img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}


.fa {
  line-height: inherit;
}



/***

====================================================================
10.		Banner Section
====================================================================

***/

.banner-section {
  position: relative;
  z-index: 1;
}

.banner-section .bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-size: cover;
  z-index: 1;
}

.banner-section .left-based-text {
  position: absolute;
  left: 50px;
  top: 50px;
  bottom: 50px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.1em;
  font-weight: 500;
  z-index: 10;
  font-family: var(--thm-font);
}

.banner-section .left-based-text .base-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 730px;
  height: 24px;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}
nsform: scale(1);
}


/* banner one page  */

.banner-one-page {
  margin-top: 117px;
}

.banner-one-page .banner-carousel .content-box .inner {
  max-width: 100%;
}

.banner-one-page .banner-carousel .content-box {
  height: 600px;
}

@media (min-width: 992px) {
  .banner-one-page .banner-carousel .content-box {
    height: 860px;
  }
}

.banner-one-page .banner-carousel .content-box h1 {
  font-size: 46px;
  color: var(--thm-base);
}

.banner-one-page .banner-carousel .content-box h1 span {
  color: #fff;
  font-weight: 300;
}

@media (min-width: 600px) {
  .banner-one-page .banner-carousel .content-box h1 {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .banner-one-page .banner-carousel .content-box h1 {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  .banner-one-page .banner-carousel .content-box h1 {
    font-size: 100px;
  }
}

@media (min-width: 1200px) {
  .banner-one-page .banner-carousel .content-box h1 {
    font-size: 150px;
  }
}

.banner-one-page .banner-carousel .content-box .link-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-one-page .banner-carousel .content-box .content {
  padding-top: 0;
  padding-bottom: 0;
}

.banner-one-page .banner-carousel .vid-link {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  z-index: 3;
  margin-left: 15px;
}

@media (min-width: 376px) {
  .banner-one-page .banner-carousel .vid-link {
    margin-left: 30px;
  }
}

.banner-one-page .banner-carousel .vid-link .icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: var(--thm-black);
  background: #fff;
  border-radius: 50%;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.banner-one-page .banner-carousel .vid-link a:hover .icon {
  background: var(--thm-black);
  color: var(--thm-base);
}

.banner-one-page .banner-carousel .vid-link .ripple,
.banner-one-page .banner-carousel .vid-link .ripple:before,
.banner-one-page .banner-carousel .vid-link .ripple:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -ms-border-radius: 50%;
  transform: translate(-50%, -50%);
  -ms-box-shadow: 0 0 0 0 rgba(var(--thm-base-rgb), 0.6);
  -o-box-shadow: 0 0 0 0 rgba(var(--thm-base-rgb), 0.6);
  box-shadow: 0 0 0 0 rgba(var(--thm-base-rgb), 0.6);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}

.banner-one-page .banner-carousel .vid-link .ripple:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}

.banner-one-page .banner-carousel .vid-link .ripple:after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}

.banner-one-page .banner-carousel .content-box .link-box {
  padding-top: 30px;
}

.banner-one-page .banner-carousel .owl-nav {
  width: 100%;
  left: 0;
  margin-left: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 376px) {
  .banner-one-page .banner-carousel .owl-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .banner-one-page .banner-carousel .owl-nav {
    display: flex;
  }

  .banner-one-page .banner-carousel .owl-nav {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 992px) {
  .banner-one-page .banner-carousel .owl-nav {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.banner-one-page .banner-carousel .owl-nav .owl-next,
.banner-one-page .banner-carousel .owl-nav .owl-prev {
  position: relative;
  top: auto;
  right: auto;
}



/***

====================================================================
25.	Main Footer
====================================================================

***/

.main-footer {
  position: relative;
  color: #999b9f;
  background: var(--thm-black) url(images/background/footer-bg.png) center top no-repeat;
}

.main-footer .widgets-section {
  position: relative;
  padding: 170px 0px 70px;
}

.main-footer.normal-padding .widgets-section {
  padding: 120px 0px 70px;
}

.main-footer .column {
  position: relative;
  margin-bottom: 35px;
}

.main-footer .footer-widget {
  position: relative;
}

.main-footer .footer-logo {
  position: relative;
  margin-top: -10px;
  margin-bottom: 20px;
}

.main-footer h6 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.main-footer .logo-widget {
  position: relative;
}

.main-footer .logo-widget .logo {
  position: relative;
  margin-bottom: 26px;
}

.main-footer .logo-widget .logo img {
  height: 34px;
}

.main-footer .logo-widget .text {
  position: relative;
  display: block;
  margin: 0 0 30px;
}

.main-footer .links-widget ul li {
  position: relative;
  margin-bottom: 3px;
}

.main-footer .links-widget ul li:last-child {
  margin: 0;
}

.main-footer .links-widget ul li a {
  position: relative;
  color: #999b9f;
  line-height: 30px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.main-footer .links-widget ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid var(--thm-base);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.main-footer .links-widget ul li a:hover:before {
  transform: scaleX(1);
}

.main-footer .links-widget ul li a:hover {
  color: #ffffff;
}

.main-footer .social-links {
  position: relative;
}

.main-footer .social-links li {
  position: relative;
  margin-right: 8px;
  display: inline-block;
}

.main-footer .social-links li a {
  position: relative;
  display: block;
  color: #999b9f;
  font-size: 16px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background: #1c1e22;
  text-align: center;
  border-radius: 50%;
  transition: all 300ms ease;
}

.main-footer .social-links li a span {
  vertical-align: middle;
}

.main-footer .social-links li a:hover {
  color: #ffffff;
  background: var(--thm-base);
}

.main-footer .info-widget ul li {
  position: relative;
  display: block;
  line-height: 32px;
  padding-left: 30px;
  margin-bottom: 5px;
}

.main-footer .info-widget ul li.address {
  margin-bottom: 20px;
}

.main-footer .info-widget ul li .icon {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 30px;
  font-size: 16px;
  color: var(--thm-base);
}

.main-footer .info-widget ul li:last-child {
  margin: 0;
}

.main-footer .info-widget ul li a {
  position: relative;
  color: #999b9f;
  line-height: 28px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.main-footer .info-widget ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--thm-base);
  text-decoration-color: var(--thm-base);
}

.main-footer .newsletter-widget .text {
  position: relative;
  display: block;
  margin: 25px 0 0;
  font-size: 14px;
  line-height: 32px;
}

.main-footer .newsletter-form {
  position: relative;
}

.main-footer .newsletter-form form {
  position: relative;
}

.main-footer .newsletter-form .form-group {
  position: relative;
  margin: 0;
}

.main-footer .newsletter-form .form-group input[type="text"],
.main-footer .newsletter-form .form-group input[type="tel"],
.main-footer .newsletter-form .form-group input[type="email"] {
  position: relative;
  width: 100%;
  line-height: 30px;
  padding: 20px 60px 20px 25px;
  height: 70px;
  display: block;
  font-size: 18px;
  background: #1c1e22;
  color: #ffffff;
  border-radius: 5px;
  font-family: var(--thm-b-font);
  border: 1px solid #1c1e22;
  transition: all 300ms ease;
  font-size: 14px;
}

.main-footer .newsletter-form .form-group input[type="text"]:focus,
.main-footer .newsletter-form .form-group input[type="email"]:focus,
.main-footer .newsletter-form .form-group input[type="tel"]:focus {
  border-color: var(--thm-base);
}

.newsletter-form .form-group input::-webkit-input-placeholder {
  color: #999b9f;
}

.newsletter-form .form-group .theme-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 44px;
  height: 44px;
  background: var(--thm-base);
  color: var(--thm-black);
  border-radius: 50%;
}

.newsletter-form .form-group .theme-btn span {
  vertical-align: middle;
  font-size: 14px;
}

.newsletter-form .form-group .theme-btn:hover {
  background: #ffffff;
  color: var(--thm-base);
}

.main-footer .footer-bottom {
  position: relative;
  text-align: center;
}

.main-footer .footer-bottom .inner {
  position: relative;
  display: block;
  padding: 35px 0px;
  line-height: 30px;
  color: #999b9f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer .footer-bottom .copyright {
  position: relative;
  line-height: 1.5em;
}

/* main footer two */

.main-footer__two {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--thm-black);
  padding-top: 120px;
}

.main-footer__two .footer-widget {
  padding-bottom: 60px;
}

.main-footer__two .footer-widget h3 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  line-height: 0.78;
  text-transform: uppercase;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.1em;
}

.main-footer__two .footer-widget p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 35px;
}

.main-footer__two .footer-widget p span,
.main-footer__two .footer-widget p a {
  color: #999b9f;
  transition: all 500ms ease;
}

.main-footer__two .footer-widget p a:hover {
  color: var(--thm-base);
}

.main-footer__two .footer-widget p a+a {
  margin-left: 35px;
}

.main-footer__two .footer-widget p span {
  margin-left: 35px;
}


/* main footer three */

.main-footer__three {
  background-color: #18212e;
  padding-top: 100px;
}

.main-footer__three .footer-widget {
  margin-bottom: 30px;
}

.main-footer__three .footer-widget h3 {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 50px;
}

.main-footer__three .footer-widget p {
  margin: 0;
  font-size: 16px;
  line-height: 2.125;
  color: #959ca6;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 30px;
}

.main-footer__three .footer-widget__links {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

.main-footer__three .footer-widget__links li {
  flex: 0 0 50%;
  margin-top: 30px;
  line-height: 1;
}

.main-footer__three .footer-widget__links li a {
  font-size: 16px;
  font-weight: 500;
  color: #959ca6;
  display: inline-block;
  line-height: 1;
  transition: all 500ms ease;
  position: relative;
}

.main-footer__three .footer-widget__links li a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: transform 500ms ease;
}

.main-footer__three .footer-widget__links li:hover a::before {
  transform: scale(1, 1);
}

.main-footer__three .footer-widget__links li a:hover {
  color: var(--thm-base);
}

.main-footer__three .footer-widget .post-list li {
  display: flex;
}

.main-footer__three .footer-widget .post-list li+li {
  margin-top: 50px;
}

.main-footer__three .footer-widget .post-list li>img {
  flex-shrink: 0;
  width: 68px;
  height: 70px;
  margin-right: 20px;
}

.main-footer__three .footer-widget .post-list li p {
  margin: 0;
  color: var(--thm-base);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.main-footer__three .footer-widget .post-list li h4 {
  color: #959ca6;
  font-size: 16px;
  line-height: 2.125;
  margin: 0;
  font-weight: 500;
  margin-top: 10px;
}

.main-footer__three .footer-widget .post-list li h4 a {
  color: inherit;
  transition: all 500ms ease;
}

.main-footer__three .footer-widget .post-list li h4 a:hover {
  color: #fff;
}

.main-footer__three .footer-widget .contact-list {
  margin-top: -20px;
}

.main-footer__three .footer-widget .contact-list li {
  position: relative;
  font-size: 16px;
  line-height: 1.875;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: 500;
  padding-left: 30px;
  min-height: 58px;
  display: flex;
  align-items: center;
}

.main-footer__three .footer-widget .contact-list li:last-child {
  border-bottom: 0;
  margin-top: 15px;
}

.main-footer__three .footer-widget .contact-list li a {
  color: inherit;
  transition: all 500ms ease;
}

.main-footer__three .footer-widget .contact-list li a:hover {
  color: #fff;
}

.main-footer__three .footer-widget .contact-list li>span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-44%);
  font-size: 18px;
  color: var(--thm-base);
}

.main-footer__three .footer-widget .contact-list li:last-child>span {
  top: 0;
  transform: translateY(0);
}

.main-footer__three .btn-style-three:hover {
  background-color: #fff;
  color: var(--thm-black);
}

.main-footer__three .bottom-footer {
  background-color: #151d28;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 39.5px;
  padding-bottom: 39.5px;
  margin-top: 60px;
}

.main-footer__three .bottom-footer .auto-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-footer__three .bottom-footer .left-content {
  display: flex;
  align-items: center;
}

.main-footer__three .bottom-footer .left-content p {
  margin: 0;
  font-size: 16px;
  color: #959ca6;
  font-weight: 500;
  line-height: 41px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 40px;
  margin-left: 40px;
}

.main-footer__three .bottom-footer .social-links {
  display: flex;
  align-items: center;
}

.main-footer__three .bottom-footer .social-links a {
  font-size: 20px;
  color: #959ca6;
  transition: all 500ms ease;
}

.main-footer__three .bottom-footer .social-links a:hover {
  color: var(--thm-base);
}

.main-footer__three .bottom-footer .social-links li+li {
  margin-left: 40px;
}



/***

====================================================================
44.		Page Banner
====================================================================

***/

.page-banner {
  position: relative;
  padding: 0;
  color: #ffffff;
  background: var(--thm-black);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-banner .image-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.page-banner .shape-1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  max-width: 100%;
  height: 100%;
  background: url(images/background/b-shape-1.png) right bottom no-repeat;
  z-index: 1;
}

.page-banner .shape-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  max-width: 100%;
  height: 100%;
  background: url(images/background/b-shape-2.png) right top no-repeat;
  z-index: 1;
}

.page-banner .banner-inner {
  position: relative;
  display: block;
  text-align: center;
  z-index: 3;
}

.page-banner .inner-container {
  position: relative;
  padding: 240px 0px 120px;
}

.page-banner h1 {
  position: relative;
  font-size: 5.3em;
  color: #ffffff;
  line-height: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.page-banner .page-nav {
  position: relative;
  padding-top: 5px;
  text-align: center;
}

.page-banner .bread-crumb {
  position: relative;
  display: inline-block;
}

.page-banner .bread-crumb li {
  position: relative;
  float: left;
  font-size: 20px;
  line-height: 30px;
  color: #ccd6df;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: default;
  padding-right: 15px;
  margin-right: 15px;
  font-family: var(--thm-font);
}

.page-banner .bread-crumb li:before {
  position: absolute;
  right: -15px;
  width: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  content: "-";
}

.page-banner .bread-crumb li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.page-banner .bread-crumb li:last-child:before {
  display: none;
}

.page-banner .bread-crumb li a {
  color: #ffffff;
  font-weight: 400;
  transition: all 300ms ease;
}

.page-banner .bread-crumb li a:hover,
.page-banner .bread-crumb li.active {
  color: var(--thm-base);
}


/***

====================================================================
49.	Sidebar Page Container
====================================================================

***/

.sidebar-page-container {
  position: relative;
  padding: 120px 0px 3px;
}

.sidebar-page-container .content-side {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}

/* Sidebar */

.sidebar-page-container .sidebar-side {
  position: relative;
  margin-bottom: 30px;
}

.sidebar-page-container .sidebar {
  position: relative;
}

.sidebar .sidebar-widget {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.sidebar .sidebar-widget:last-child {
  margin-bottom: 0px;
}

.sidebar .sidebar-widget .widget-inner {
  position: relative;
  display: block;
  padding: 45px 45px;
  background: #f4f5f8;
  border-radius: 7px;
}

.sidebar-title {
  position: relative;
  margin-bottom: 20px;
}

.sidebar-title h4 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 1.1em;
  color: var(--thm-black);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
}

.sidebar .services ul {
  position: relative;
}

.sidebar .services ul li {
  position: relative;
  line-height: 48px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--thm-text);
  margin-bottom: 5px;
}

.sidebar .services ul li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  right: -20px;
  bottom: 0;
  background: #ffffff;
  border-radius: 7px;
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar .services ul li:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -12px;
  height: 24px;
  border-left: 2px solid var(--thm-base);
  opacity: 0;
  transition: all 0.3s ease;
}

.sidebar .services ul li:last-child {
  margin-bottom: 0;
}

.sidebar .services ul li a {
  position: relative;
  display: block;
  line-height: 48px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--thm-text);
  font-family: var(--thm-b-font);
  font-weight: 400;
  transition: all 0.3s ease;
  z-index: 1;
}

.sidebar .services ul li:hover a,
.sidebar .services ul li.active a {
  color: var(--thm-black);
}

.sidebar .services ul li:hover:before,
.sidebar .services ul li.active:before,
.sidebar .services ul li:hover:after,
.sidebar .services ul li.active:after {
  opacity: 1;
}

.sidebar .services ul li a:after {
  position: absolute;
  right: 0;
  top: -1px;
  font-family: "Flaticon";
  content: "\f15f";
  opacity: 1;
  font-size: 10px;
  line-height: 48px;
  font-weight: 700;
  z-index: 1;
}

.sidebar .services ul li a:hover:before,
.sidebar .services ul li.active a:before {
  opacity: 1;
  transform: scaleX(1);
  transition: all 0.3s ease 0.1s;
}

.sidebar .call-up .widget-inner {
  background: var(--thm-black);
  color: #999b9f;
}

.sidebar .call-up .sidebar-title h4 {
  color: #ffffff;
}

.sidebar .call-up .text {
  position: relative;
  display: block;
}

.sidebar .call-up .phone {
  position: relative;
  margin-top: 20px;
  color: #ffffff;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--thm-font);
  font-weight: 300;
}

.sidebar .call-up .phone .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--thm-base);
  font-size: 20px;
  padding-right: 15px;
}

.sidebar .call-up .phone a {
  position: relative;
  color: #ffffff;
}

.sidebar .call-up .phone a:hover {
  text-decoration: underline;
}

.sidebar .search-box .widget-inner {
  padding: 0;
  background: none;
}

.sidebar .search-box .form-group {
  position: relative;
  margin: 0px;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"] {
  position: relative;
  line-height: 40px;
  padding: 19px 80px 19px 35px;
  background: var(--thm-base);
  color: var(--thm-black);
  display: block;
  font-size: 14px;
  width: 100%;
  height: 80px;
  border: 1px solid var(--thm-base);
  font-family: var(--thm-b-font);
  border-radius: 7px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.sidebar .search-box .form-group ::placeholder {
  opacity: 1;
  color: inherit;
}

.sidebar .search-box .form-group input:focus {
  border-color: var(--thm-black);
}

.sidebar .search-box .form-group button {
  position: absolute;
  right: 20px;
  top: 0px;
  height: 80px;
  width: 60px;
  line-height: 80px;
  display: block;
  font-size: 24px;
  color: var(--thm-black);
  background: none;
  font-weight: normal;
}

.sidebar .search-box .form-group input:focus+button,
.sidebar .search-box .form-group button:hover {
  color: #181b1f;
}

.sidebar .recent-posts .post {
  position: relative;
  font-size: 20px;
  color: var(--thm-text);
  padding: 7px 0px 0px 85px;
  min-height: 62px;
  margin-bottom: 30px;
}

.sidebar .recent-posts .post:last-child {
  margin-bottom: 0px;
}

.sidebar .recent-posts .post-thumb {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.sidebar .recent-posts .post-thumb img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.sidebar .recent-posts .post:hover .post-thumb img {
  -webkit-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.sidebar .recent-posts .text {
  font-size: 20px;
  line-height: 1.3em;
  color: var(--thm-text);
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
  letter-spacing: 0.07em;
  max-width: 170px;
}

.sidebar .recent-posts .text a {
  color: var(--thm-text);
}

.sidebar .recent-posts .text a:hover {
  color: var(--thm-black);
}

.sidebar .popular-tags .tags-list {
  padding-right: 20px;
}

.sidebar .popular-tags .tags-list li,
.sidebar .popular-tags .tags-list a {
  position: relative;
  color: var(--thm-text);
  display: inline-block;
}

.sidebar .popular-tags .tags-list a {
  position: relative;
  display: inline-block;
  line-height: 1.45em;
  text-align: center;
  color: var(--thm-text);
  text-transform: capitalize;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
}

.sidebar .popular-tags .tags-list a:hover {
  color: var(--thm-black);
}

.sidebar .archives ul {
  position: relative;
}

.sidebar .archives ul li {
  position: relative;
  line-height: 30px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--thm-text);
  margin-bottom: 15px;
}

.sidebar .archives ul li:last-child {
  margin-bottom: 0;
}

.sidebar .archives ul li a {
  position: relative;
  display: block;
  line-height: 30px;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--thm-text);
  font-weight: 400;
  transition: all 0.3s ease;
  z-index: 1;
}

.sidebar .archives ul li:hover a,
.sidebar .archives ul li.active a {
  color: var(--thm-black);
  font-weight: 400;
}

.sidebar .archives ul li a:after {
  position: absolute;
  right: 0;
  top: -1px;
  font-family: "Flaticon";
  content: "\f15f";
  opacity: 1;
  font-size: 10px;
  line-height: 30px;
  font-weight: 700;
  z-index: 1;
}

.sidebar .recent-comments .comment {
  position: relative;
  font-size: 20px;
  color: var(--thm-text);
  padding: 0px 0px 0px 70px;
  min-height: 48px;
  margin-bottom: 30px;
}

.sidebar .recent-comments .comment:last-child {
  margin-bottom: 0px;
}

.sidebar .recent-comments .comment .icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  background-color: var(--thm-black);
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.sidebar .recent-comments .comment:hover .icon {
  background: var(--thm-base);
}

.sidebar .recent-comments .comment .text {
  font-size: 20px;
  line-height: 24px;
  color: var(--thm-text);
  font-weight: 300;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
}

.sidebar .recent-comments .comment .text a {
  color: var(--thm-text);
}

.sidebar .recent-comments .comment .text a:hover {
  color: var(--thm-black);
}
